- if build?
  {{!< default}}

%main.content{role: "main"}

  - if build?
    - post = nil
    {{#foreach posts}}
    = partial "home_post", locals: {post: post}
    {{/foreach}}
            
  - else
    - @posts.take(6).each do |post|
      = partial "home_post", locals: {post: post}